{
  "plugins": [
    "transform-runtime",
    ["import", { libraryName: "antd" }]
  ],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ]
}
