@import '../overrides/antd-theme.less';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  color: @font-color;
}

.t-center {
  text-align: center;
}

.t-bold {
  font-weight: 600;
}

.t-italic {
  font-style: italic;
}

.sl-pretty-link {
  color: @link-color;
  transition: color .15s ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid;

  &:hover {
    text-decoration: none;
    color: @link-hover-color;
  }

  &:active,
  &:focus {
    text-decoration: none;
  }
}
